* {
	padding:0px;
	margin:0px;
	border:0px;
}

html {
	min-height:100%;
	height: 100%;
	width:100%; 
	padding:0px;
	margin:0px;
	border:0px;
}

body {
	min-height:100%;
	height: 100%;
	padding:0px;
	margin:0px;
	border:0px;
	background: #222;
	color: #fff;
	font-family:calibri;
	font-size:14px;
	text-align:left;
}

#instructions {
	width: 100%;
	position: absolute;
	top: 70%;
	font-size: #fff;
	text-align: center;
	font-family: Helvetica, Verdana;
	line-height: 70px;
	left: 0;
	background: #222;
	font-size: 40px;
	z-index: 999;
}

#space {
	width: 100%;
	height: 100%; 
	background: #cecece url('../img/nyan.gif');
	float: left;
	overflow: hidden;
}

#bear {
	display: block;
	background: url('../img/bear.png') no-repeat center;
	width: 300px;
	height: 300px;
	position: relative; 
	margin: auto;
	margin-top: 10% ;
	-webkit-animation: spin 7s infinite linear;
	-moz-animation: spin 7s infinite linear;
	-o-animation: spin 7s infinite linear;
	-ms-animation: spin 7s infinite linear;
}

#bear:hover {
	background: url('../img/bear.png') #67EB3D no-repeat center;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}